
@font-face {
  font-family: Neutraface-Bold;
  font-style: bold;
  font-weight: 200 700;
  font-display: swap;
  src: url("../src/assets/Neutraface/Neutraface\ Text\ Bold.otf") format("opentype");
}

@font-face {
  font-family: Neutraface-Italic;
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url("../src/assets/Neutraface/Neutraface\ Text\ Book\ Italic.otf") format("opentype");
}

@font-face {
  font-family: Neutraface;
  font-style: light;
  font-weight: 200 700;
  font-display: swap;
  src: url("../src/assets/Neutraface/Neutraface\ Text\ Light.otf") format("opentype");
}

@font-face {
  font-family: Neutraface-Demi;
  font-weight: 200 700;
  src: url("../src/assets/Neutraface/Neutraface\ Text\ Demi.otf");
}

@font-face {
  font-family: Proxima-Nova;
  src: url("../src/assets/Proxima\ Nova/proximanova_light.otf") format("opentype");
}



@import "tailwindcss";

@theme {
  --color-blackish: #222427;
  --color-whiteish: #F4F3F1;
  --color-yellow: #EAB805;
  --color-grayish: #707887;

  --font-neutraface-bold: Neutraface-Bold, sans-serif;
  --font-neutraface-italic: Neutraface-Italic, sans-serif;
  --font-neutraface: Neutraface, sans-serif;
  --font-neutraface-demi: Neutraface-Demi, sans-serif;

  --font-proxima-nova: Proxima-Nova, sans-serif;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
